.main-container {
    padding: 100px 0 60px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.back-arrow-container {
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 10px;
}

.back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid #ccc;
    padding: 30px 20px;
    border-radius: 15px;
    background-color: #fff;
}

.details-container img {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    width: 100%;
}

.post-info-poster {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.comment-field {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.masonry-details {
    columns: 300px;
    column-gap: 1rem;
    width: 100%;
    max-width: 95%;
    margin:  auto;
    padding: 1rem;
    box-sizing: border-box;
}