.profile-container {
    margin-top: 100px;
    height: 100%;
    width: auto;
}
.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form input {
    width: 300px;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profile-form button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.profile-form button:hover {
    background-color: #45a049;
}
.edit-user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
