html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eeee;
    padding: 7px 20px;
    overflow: hidden;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo {
    height: 75px;
    width: 175px;
    justify-content: left;
}

.heart {
    height: 40px;
    width: 40px;
}

.user-icon a {
    margin-left: auto;
    justify-content: right;
}

.navbar a {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}