html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}


.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eeee;
    padding: 7px 20px;
    overflow: hidden;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo {
    height: 75px;
    width: 175px;
    justify-content: left;
}

@media (max-width: 600px) {
    .logo {
        height: 50px;
        width: 100px;
    }

}

@media (max-width: 900px) {
    .logo {
        height: 60px;
        width: 130px;
    }

}

.heart {
    height: 40px;
    width: 40px;
}

.user-icon a {
    margin-left: auto;
    justify-content: right;
}

.navbar a {
    margin: 0 15px 0 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}