.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 100px auto;
    padding: 20px;
}

.profile-user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-statistics {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.button-container-edit-logout {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
a,a:visited {
    text-decoration: none;
    color: inherit;
}